<!DOCTYPE html>

<html>
    <head>
        <title>Ma todolist</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body style="color: white; background-color: rgb(8, 11, 73); margin: 0 auto; text-align: center; width: 400px; height: auto; padding-top: 20px;">
        <h1>Ma todolist</h1>

       <form action="/todos/add/" method="post" >
            <p>
                <label for="newtodo">Que dois-je faire ? <br> <br> </label>
                <input style="padding: 10px; border-radius: 5px; border:none;" type="text" name="newtodo" id="newtodo" autofocus />
                <input style="padding: 10px; border-radius: 5px; border:none;" type="submit" />
            </p>
        </form>
        <ul>
         <% todolist.forEach(function(todo, index) { %>
             <li style="list-style:  none; color: white;"><a style="padding: 1px; color: red; font-size: 16px" href="/todos/delete/<%= index %>">✘</a> <%= todo %></li>
         <% }); %>
         </ul>
 
    </body>
</html>